@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import 'variables.scss';

html, body{
  background-color: $primary-bg;
  margin: 0;
}

.MuiPaper-root{
  background-color: transparent;
}