@import 'variables.scss';

.main {
  padding-top: 50px;
  color: $white;
  height: 100vh;
  padding-left: 100px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .searchBox {
      border-radius: 7px;
      border: 1px solid $primary-outline;

      svg {
        color: $white;
      }
    }

    .calenderButton {
      background-color: $primary-gray-bg;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 15px;
      border-radius: 7px;
      > img{
        height: 20px;
      }
    }
  }
}
