// colors
$primary-bg: #090c10;
$secondary-bg: #12171F;
$component-bg: #1A232F;
$menu-component-bg: #141A23;
$selected-component-bg: #222F3F;
$primary-outline: #5E6F86;
$primary-gray-bg: #73859E;
$primary-green: #46B474;
$primary-red: #B44646;
$primary-orange: #EDBE46;
$white: #ffffff;
$black: #000000;